.sideBar {
  height: calc(100vh - 50px);
}

.item-icons span {
  transition: 0.4s;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.item-icons span:hover {
  background-color: #aaaaaa;
}

::placeholder {
  padding-left: 50px;
  font-weight: 400;
  color: var(--third-color);
}

.inpt .search {
  top: 50%;
  left: 25px;
}

.inpt .search svg {
  font-size: 15px;
}

.arrLeft {
  color: var(--first-color) !important;
}
.filter svg {
  font-size: 25px;
  color: #666 !important;
  cursor: pointer;
}

/* width */
.contentChat::-webkit-scrollbar {
  width: 8px;
  /* height: 10px!important; */
}

.contentChat::-webkit-scrollbar-track{
    max-height:30%!important;

}

/* Handle */
.contentChat::-webkit-scrollbar-thumb {
  background: #ced0d1;
}
